{%extends 'base.html'%}
{% load static %}

{% block title %}
Servicios - INSAAPI
{% endblock title %}

{% block header %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-transparent">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs" style="background-color:transparent">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="/"><img src="../static/assets/img/g2.jpg" width="50" height="50" alt=""
                                class="img-fluid">
                            <span><strong>INICIO</strong></span>
                        </a></li>
                    <li style="color: aliceblue; font-size:larger;">Servicios</li>
                </ol>
            </div>
        </div>
    </section><!-- Breadcrumbs Section -->
</header><!-- End Header -->
{% endblock header %}

{% block innerBody %}

<main id="main">
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100" style="text-align: justify;">
                <h2 style="text-align: center;">Desarrollo de Programas de Escritorios y Aplicaciones Móviles</h2>
                <p>
                    INSAAPI trabaja con su pasión e ideas para hacerlas realidad y tener una experiencia al alcance de
                    su mano. Desde la toma de requisitos hasta las últimas pruebas de calidad, le proporcionamos total
                    seguridad en cada fase y entregas contínuas para asegurar que lo que se está desarrollando es lo que
                    el cliente en realidad necesida y desea.
                </p><br>
                <p>
                    Nuestra exitosa estrategia comercial permitirá que la innovación de su aplicación de escritorio
                    o móvil esté disponible en el lapso de unas pocas semanas.
                </p>
                <li>Acérquese a nosotros, para confirmar la viabilidad e implementar el prototipo del mismo en poco
                    tiempo.</li>
                <li>Creamos hojas de ruta para la implementación y el diseño de aplicaciones compatibles con
                    dispositivos Android e iOS y programas compatibles con Windows, Linux y MacOS.</li>
                <li>Enfoque de marketing para la descarga de aplicaciones.</li>
                <li>Análisis de uso de aplicaciones.</li>
                <li>Análisis de la experiencia del usuario.</li>
            </div>

            <hr>
            <div class="section-title" data-aos="fade-in" data-aos-delay="100" style="text-align: justify;">
                <h2 style="text-align: center;">Desarrollo de aplicaciones Web</h2>
                <h3>Aplicación Web</h3>
                <p>
                    En INSAAPI, trabajamos con un enfoque de desarrollo sistemático para crear aplicaciones web
                    personalizadas, desde Páginas para promocionar su empresa, páginas individuales para cualquier
                    necesidad que desea, aplicaciones web de administración, facturación, inventario, citas, etc;
                    hasta aplicaciones e-commerce y CRM con integraciones a herramientas necesarias para el manejo
                    de los grandes volúmenes de información e implementación de las TIC'S para ahorro de costes
                    y optimización de procesos para su empresa.<br><br>
                    Nuestro equipo de desarrolladores altamente calificado tiene un amplio conocimiento
                    en las últimas tecnologías en la industria. Nuestro proceso de personalización incluye análisis,
                    estrategia de alto nivel, planificación, diseño, programación, pruebas, implementación y
                    capacitación. Nos aseguramos de que nuestro enfoque basado en procesos optimice el uso de la
                    aplicación desde el primer día.<br><br>Como parte de los estándares de nuestra empresa, la
                    documentación
                    es
                    un factor clave en nuestro desarrollo que ayuda a nuestros clientes a implementar cambios futuros
                    con la menor cantidad de inversión para comprender la aplicación. Atendemos las necesidades
                    comerciales del cliente y los entregables a tiempo son nuestro éxito en el desarrollo web.
                </p><br><br>

                <h3>Servicios de rediseño</h3>
                <p>
                    Muchas veces, los cambios constantes en la tecnología hacen que los sitios web se vuelvan obsoletos.
                    Por lo que el rediseño del sitio web con las últimas tecnologías ayudará a mejorar las ventas, el
                    rendimiento, la retención de clientes y la aplicación móvil mejorada.<br>
                    Nuestro rediseño ayudará a los clientes a comprender la importancia de rediseñar su aplicación web
                    para que sea competitiva en el mercado. <br>
                    <br>Las actividades de rediseño contienen:
                </p>
                <li>Cambio de diseño para la apariencia del sitio web.</li>
                <li>Mejora de rendimiento en el motor de búsqueda.</li>
                <li>Modificación en la aplicación para centrarse más en el producto del cliente.</li>
                <li>Optimización en la aplicación web, cumpliendo el siguiente estándar: escriba una vez y utilícela en
                    todas partes.</li>
                <li>Aumento de clientes potenciales.</li>
                <br><br>

                <h3>Mantenimiento de la aplicación Web</h3>
                <p>
                    La fuerza de una empresa se basa en su sitio web, es crucial mantener la aplicación web
                    constantemente en el sector de TI de alto mercado. INSAAPI, con su equipo de expertos, tiene un
                    amplio conocimiento en tecnología tanto del legado como de la innovación para ayudar a mantener la
                    aplicación para nuestros clientes.
                </p><br>
                <p>
                    Es un hecho que la primera impresión es la mejor impresión y cuando se trata del mundo de las
                    tecnologías de la información, el sitio web de la empresa mantiene el hecho y el mantenimiento del
                    sitio web proyecta la calidad de la empresa. <br><br>
                    Como parte del paquete de mantenimiento de INSAAPI, independientemente del tamaño de la empresa,
                    proporcionamos:
                </p>
                <li>Revisión de desempeño (tráfico, etc.) y análisis.</li>
                <li>Actualización constante en las páginas utilizando nuevas tecnologías y gráficos.</li>
                <li>Agregar, actualizar, eliminar y archivar con respecto a productos.</li>
                <li>Creación de páginas adicionales según sea necesario.</li>
                <li>Mejora en el almacenamiento de datos para fines de informes.</li>
                <li>Integración con sitios web externos.</li>
                <li>Actualzación con los cumplimientos de seguridad según sea necesario.</li>
            </div>
            <hr>

            <div class="section-title" data-aos="fade-in" data-aos-delay="100" style="text-align: justify;">
                <h2 style="text-align: center;">Servicio de pruebas</h2>
                <p>
                    INSAAPI garantiza que la garantía de calidad sea la mejor en lo que respecta al soporte de pruebas
                    de extremo a extremo utilizando herramientas de prueba automatizadas.<br><br>
                    Las pruebas centralizadas garantizan que no haya defectos en la producción y nuestra experiencia es:
                </p>
                <li>Diseño, desarrollo e implementación de pruebas completas de extremo a extremo.</li>
                <li>Optimización de recursos, tiempo y distintas habilidades para realizar pruebas de calidad.</li>
                <li>Mitigar los riesgos técnicos y comerciales.</li>
                <li>La automatización del proceso de prueba de software manual da como resultado una reducción de
                    costos, facilita la comunicación del equipo y mejora la eficiencia.</li>
                <li>La realización de pruebas manuales permite a nuestros expertos encontrar los defectos y garantizar
                    que todas las funciones de la aplicación se comporten como se espera.</li>
            </div>
            <hr><br>

            <div class="section-title" data-aos="fade-in" data-aos-delay="100" style="text-align: justify;">
                <h1 style="text-align: center;">Nuestro control de calidad es un proceso continuo dentro del ciclo de
                    vida del desarrollo de software (SDLC), diseñado para garantizar la más alta calidad en ingeniería
                    de software.</h1>
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->
</main>
{% endblock innerBody %}

{% block footer %}
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>INSAAPI</span></strong>. All Rights Reserved.
        </div>
        <div class="credits">
            Designed by <a><strong><span>INSAAPI</span></strong>.</a>
        </div>
    </div>
</footer><!-- End Footer -->
{% endblock footer %}