{%extends 'base.html'%}
{% load static %}

{% block title %}
Términos de Servicio y Políticas de Privacidad - INSAAPI
{% endblock title %}

{% block header %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-transparent">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs" style="background-color:transparent">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="/"><img src="../static/assets/img/g2.jpg" width="50" height="50" alt=""
                                class="img-fluid">
                            <span><strong>INICIO</strong></span>
                        </a></li>
                    <li style="color: aliceblue; font-size:larger;">Términos de Servicio y Políticas de Privacidad</li>
                </ol>
            </div>
        </div>
    </section><!-- Breadcrumbs Section -->
</header><!-- End Header -->
{% endblock header %}

{% block innerBody %}

<main id="main">
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container col-lg-8">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100" style="text-align: justify;">
                <h1 style="text-align: center;"><i>INSAAPI es una empresa dedicada al desarrollo de aplicaciones standar
                        y a medida para su negocio a traves de tecnologias modernas, asi cómo servicios de consultoria
                        informatica.</i></h1>
            </div>
            <hr>
            <div class="section-title" data-aos="fade-in" data-aos-delay="300" style="text-align: justify;">
                <h2 style="text-align: center;">1 TÉRMINOS DE SERVICIO</h2>
                <P>Estos términos de uso constituyen un contrato entre el cliente y nosotros, que gobierna el acceso al
                    uso de nuestros servicios para los clientes.</P><br>

                <div class="section-title" data-aos="fade-in" data-aos-delay="500" style="text-align: justify;">
                    <h5 style="text-align: left;">ACEPTACIÓN</h5>
                    <p>
                        La utilización del portal Web atribuye la condición de usuario, e implica la aceptación total y
                        sin reservas de todas y cada una de las disposiciones incluidas en este Aviso Legal, en la
                        versión publicada para INSAAPI en el mismo momento en que el usuario acceda a la Web. En
                        consecuencia, el usuario tiene que leer atentamente el presente Aviso Legal en cada una de las
                        ocasiones en que se proponga utilizar la Web, puesto que puede sufrir modificaciones.
                    </p>
                </div><br>

                <div class="section-title" data-aos="fade-in" data-aos-delay="500" style="text-align: justify;">
                    <h5 style="text-align: left;">INFORMACIÓN SOBRE LOS VÍNCULOS <strong>LINKS</strong></h5>
                    <p>
                        INSAAPI no se hace responsable de las webs no propias o de terceros, a las cuales se puede
                        acceder mediante vínculos “links” o de cualquier contenido puesto a disposición por <strong>
                            terceros.</strong>
                        Cualquier uso de un vínculo o acceso a una Web no propia es realizado por voluntad y riesgo
                        exclusivo del usuario, INSAAPI no recomienda ni garantiza ninguna información obtenida a través
                        de un vínculo o servicio ajeno a la web de <strong>insaapi.com</strong>, ni se responsabiliza
                        de ninguna pérdida, reclamación o perjuicio derivada del uso o mal uso de un vínculo, o de la
                        información obtenida a través de él; incluyendo otros vínculos o webs, de la interrupción en el
                        servicio o en el acceso; o bien, del mal uso de un vínculo, tanto al conectar al portal Web
                        <strong>insaapi.com</strong> cómo al acceder a la información de otras webs desde el mismo
                        portal Web.
                    </p>
                </div><br>

                <div class="section-title" data-aos="fade-in" data-aos-delay="500" style="text-align: justify;">
                    <h5 style="text-align: left;">PROPIEDAD INTELECTUAL, INDUSTRIAL Y MARCAS REGISTRADAS</h5>
                    <p>
                        La estructura, diseño y forma de presentación de los elementos (gráficos, imágenes, ficheros
                        logotipos, combinaciones de colores y cualquier elemento susceptible de protección) están
                        protegidos por derechos de propiedad intelectual, titularidad de INSAAPI.<br>
                        Está prohibida la reproducción, la transformación, la distribución, la comunicación pública, y
                        en general cualquier otra forma de explotación, parcial o total de los elementos referidos en el
                        apartado anterior. Estos actos de explotación sólo podrán ser realizados en virtud de la
                        autorización expresa de INSAAPI y que, en todo caso, tendrán que hacer referencia explícita a la
                        titularidad de los citados derechos de propiedad intelectual de INSAAPI.
                        Sólo está autorizado para el uso privado del material documental elaborado para INSAAPI.<br><br>
                        En ningún caso, podrá suprimir, alterar, eludir o manipular cualquier dispositivo de protección
                        o sistemas de seguridad que pueda estar instalado.
                        Excepto autorización expresa de INSAAPI no se permite el enlace a “páginas finales”, el “frame”
                        y cualquier otra manipulación similar.
                        Los signos distintivos (marcas, nombres comerciales) de INSAAPI están protegidos por derechos de
                        propiedad industrial, quedando prohibida la utilización o manipulación de cualquiera de éstos,
                        excepto autorización expresa y por escrito de INSAAPI.
                    </p>
                </div><br>

                <div class="section-title" data-aos="fade-in" data-aos-delay="500" style="text-align: justify;">
                    <h5 style="text-align: left;">INFORMACIÓN SOBRE LA EXENCIÓN DE TODA RESPONSABILIDAD DERIVADA DE UN
                        FALLO TÉCNICO Y DE CONTENIDO</h5>
                    <p>
                        INSAAPI declina cualquier responsabilidad en caso de que existan interrupciones o un mal
                        funcionamiento de los servicios o contenidos ofrecidos en Internet, cualquiera que sea su causa.
                        Así mismo, INSAAPI no se hace responsable de las caídas de la red, pérdidas de negocio a
                        consecuencia de estas caídas, suspensiones temporales del fluido eléctrico o cualquier otro
                        tipo.
                        INSAAPI no garantiza que los servicios o contenidos sean interrumpidos o que estén libres de
                        errores, que los defectos sean corregidos, sin perjuicio de que INSAAPI realiza sus mejores
                        esfuerzos a evitar este tipo de incidentes.<br><br>En caso de que el usuario tomara determinadas
                        decisiones o realizara acciones en base a la información incluida en cualquier de los
                        “websites”, se recomienda la comprobación de la información recibida con otras fuentes.
                    </p>
                </div><br>

                <div class="section-title" data-aos="fade-in" data-aos-delay="500" style="text-align: justify;">
                    <h5 style="text-align: left;">IDENTIFIQUE LOS CORREOS ELECTRÓNICOS FALSOS (INENTOS DE <STRONG>
                            ‘SPOOFING’ o</STRONG> <STRONG>‘PHISHING’</STRONG>)</h5>
                    <p>
                        Ignore todo correo electrónico que reciba en el que se le solicite información personal o que le
                        redirija en otra página web que no sea propiedad de INSAAPI, o de sociedades del grupo, o que le
                        pida que pague por un medio diferente del autorizado por INSAAPI, puesto que podría ser un
                        intento de suplantación de personalidad (‘spoofing’ o ‘phishing’), y tendrá que considerarlo
                        fraudulento.
                    </p>
                </div><br>

                <div class="section-title" data-aos="fade-in" data-aos-delay="500" style="text-align: justify;">
                    <h5 style="text-align: left;">POLÍTICA</h5>
                    <p>
                        INSAAPI está especialmente sensibilizado con la protección de los datos de los usuarios de los
                        servicios que acceden al sitio web. Mediante la presente Política de Privacidad se informa a los
                        usuarios de insaapi.com del tratamiento y usos a los que se someten los datos personales que se
                        recaban en la web mediante la información adicional, con el fin de que decidan, libre y
                        voluntariamente, si desean facilitar la información solicitada.
                    </p>
                </div><br>
            </div>
            <hr>
            <div class="section-title" data-aos="fade-in" data-aos-delay="300" style="text-align: justify;">
                <h2 style="text-align: center;">2 POLÍTICAS DE PRIVACIDAD</h2>
                <div class="section-title" data-aos="fade-in" data-aos-delay="500" style="text-align: justify;">
                    <h5 style="text-align: left;">RESPONSABLE</h5>
                    <p>
                        Garantizamos protección de Datos personales y garantía de los derechos digitales; le informamos
                        que los datos personales facilitados a través de los formularios, así como su dirección de
                        correo electrónico, han sido incluidos en un tratamiento de gestión y le aseguramos que no será
                        distribuido.<br><br>Nuestro E-mail <strong>contact@insaapi.com</strong> está a toda su
                        disposición, con el fin de atender sus consultas y el envío de información relacionada con los
                        servicios que ofrece INSAAPI.<br>
                        Se informa que los datos pueden ser tratados con la finalidad de facilitar información de
                        nuestros productos y/o servicios por medios electrónicos. Sus datos podrán ser objeto de la
                        elaboración de perfiles, con el fin de aplicar un plan de fidelización de acuerdo a la
                        vinculación comercial del cliente y ofrecer ofertas que sean adecuadas a sus preferencias.<br>
                        Usted podrá en cualquier momento ponerse a este tipo de comunicaciones, dando de baja este
                        servicio.
                    </p>
                </div><br>

                <div class="section-title" data-aos="fade-in" data-aos-delay="500" style="text-align: justify;">
                    <h5 style="text-align: left;">MEJORAS Y MANTENIMIENTO</h5>
                    <p>
                        La información y servicios incluidos o disponibles a través de las páginas Web pueden incluir
                        incorrecciones o errores tipográficos. De forma periódica se incorporán cambios a la información
                        contenida.<br>
                        INSAAPI puede introducir en cualquier momento mejoras y/o cambios en los servicios o
                        contenidos. También se advierte que los contenidos de esta web tienen la finalidad informativa
                        en cuanto a la oferta de servicios y tarifas, según lo previsto en el presente aviso legal y en
                        el resto de los textos legales del presente portal.
                    </p>
                </div><br>

                <div class="section-title" data-aos="fade-in" data-aos-delay="500" style="text-align: justify;">
                    <h5 style="text-align: left;">NO COMPARTA SU INFORMACIÓN PERSONAL</h5>
                    <p>
                        INSAAPI nunca le enviará un correo electrónico ni le llamará por teléfono para pedirle que
                        revele o verifique la contraseña de su cuenta, ni sus números de cuenta bancaria o tarjeta de
                        crédito, ni cualquier otro tipo de información personal. En caso de que alguien contacte con
                        usted o de recibir un correo electrónico no solicitado que le pida alguno de los datos
                        anteriores, no responda y comuníquelo inmediatamente a INSAAPI, para que procedan a la
                        investigación del incidente.
                    </p>
                </div><br>

                <div class="section-title" data-aos="fade-in" data-aos-delay="500" style="text-align: justify;">
                    <h5 style="text-align: left;">DERECHOS DE LOS USUARIOS</h5>
                    <ul>
                        <li>Derecho a solicitar una reunión para dudas acerca de la contratación
                            para el desarrollo de algún servicio que ofrecemos.</li>
                        <li>Solicitar una planificación o cronograma de cómo se desarrollará la solución requerida.</li>
                        <li>Solicitar el avance de un desarrollo en curso, donde INSAAPI estará
                            exponiendo su petición de acuerdo al cronograma planteado.</li>
                        <li>Solicitar cambios dentro de los requerimientos establecidos, asi cómo
                            también agregar nuevas funcionalidades dentro del desarrollo en curso.</li>
                    </ul>
                </div>
                <hr><br>

                <div class="section-title" data-aos="fade-in" data-aos-delay="100" style="text-align: justify;">
                    <h1 style="text-align: center;"><i>INSAAPI establecerá un presupuesto según las funcionalidades del
                            desarrollo solicitado, cualquier cambio de la misma afectará en cambios de presupuesto por
                            lo que se volverá a negociar debido a los nuevos requerimientos.</i></h1>
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->
</main>
{% endblock innerBody %}

{% block footer %}
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>INSAAPI</span></strong>. All Rights Reserved.
        </div>
        <div class="credits">
            Designed by <a><strong><span>INSAAPI</span></strong>.</a>
        </div>
    </div>
</footer><!-- End Footer -->
{% endblock footer %}