{%extends 'base.html'%}
{% load static %}

{% block title %}
Términos de Servicio y Políticas de Privacidad - INSAAPI
{% endblock title %}

{% block header %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-transparent">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs" style="background-color:transparent">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="/"><img src="../static/assets/img/g2.jpg" width="50" height="50" alt=""
                                class="img-fluid">
                            <span><strong>INICIO</strong></span>
                        </a></li>
                    <li style="color: aliceblue; font-size:larger;">Términos de Servicio y Políticas de Privacidad</li>
                </ol>
            </div>
        </div>
    </section><!-- Breadcrumbs Section -->
</header><!-- End Header -->
{% endblock header %}

{% block innerBody %}

<main id="main">
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <!--Contents-->
            <!--End Contents-->
        </div>
    </section><!-- End Portfolio Details Section -->
</main>
{% endblock innerBody %}

{% block footer %}
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>INSAAPI</span></strong>. All Rights Reserved.
        </div>
        <div class="credits">
            Designed by <a><strong><span>INSAAPI</span></strong>.</a>
        </div>
    </div>
</footer><!-- End Footer -->
{% endblock footer %}